<div class="row">
  <div class="col-7">
    <span class="email">{{user.email}}</span>
    <span class="name">( {{user.firstname}} {{user.lastname}} )</span>
  </div>
  <div class="col-5">
    <mat-form-field color="accent">
      <mat-select placeholder="Role"
                  [(value)]="user.role"
                  (selectionChange)="onChange($event)">
        <mat-option *ngFor="let role of roles"
                    [value]="userRoles[role]">
          {{ role }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
