<mat-icon class="close"
         (click)="MatDialogRef.close()">
         close
</mat-icon>
<form [formGroup]="privateKeyForm">
  <div class="row">
    <div class="col-12 header">
      <h3>Export private key</h3>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
         <input matInput
                placeholder="Account password..."
                autocomplete="off"
                formControlName="password"
                type="password">
       </mat-form-field>
    </div>
    <div class="col-12">
      <div *ngFor="let key of getKeys()">
        <div *ngFor="let err of errors[key]"
             class="error">
          {{err}}
        </div>
      </div>
    </div>
    <div class="col-12"
         *ngIf="privateKey">
      <div class="col-2">
        Private key:
      </div>
      <div class="col-10 key"
           #pkey
           (click)="copy()">
        {{this.privateKey}}
      </div>
    </div>
    <div class="col-12 text-right download">
      <button mat-raised-button
              (click)="exportPrivateKey()">
        Export
      </button>
    </div>
  </div>
</form>
