.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.header {
  margin-bottom: 30px;

  h3 {
    margin: 0;
  }
}

.download {
  margin-top: 10px;
}

div.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.key {
  font-size: 12px;
  color: #608ecc;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 3px;
}
