@import '../../../../stylesheets/variables';

div.question {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 25px;
}

div.answer {
  color: white;
  font-size: 16px;
  padding-left: 5px;
  margin-top: 5px;
}
