<div class="router-container row">
  <div class="col-12">
    <section>
      <header class="text-center">
        <h4>Forgotten password</h4>
      </header>
      <div class="body">
        <form [formGroup]="accountForm">
          <fieldset>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group">
                <span [class.error]="isValid('password')">
                  <mat-icon>
                    person
                  </mat-icon>
                </span>
                <input type="password"
                       class="form-control"
                       placeholder="Password"
                       formControlName="password"
                       [class.error]="isValid('password')">
              </div>
              <ul *ngIf="( serverError || accountForm.controls.password.invalid ) && isSubmitted">
                <li *ngFor="let error of errors?.password">{{error}}</li>
              </ul>
            </div>
            <div class="form-group">
              <label for="passwordConfirm">Password Confirm</label>
              <div class="input-group">
                <span [class.error]="isValid('passwordConfirm')">
                  <mat-icon>
                    person
                  </mat-icon>
                </span>
                <input type="password"
                       class="form-control"
                       placeholder="Password confirm"
                       formControlName="passwordConfirm"
                       [class.error]="isValid('passwordConfirm')">
              </div>
              <ul *ngIf="( serverError || accountForm.controls.passwordConfirm.invalid ) && isSubmitted">
                <li *ngFor="let error of errors?.passwordConfirm">{{error}}</li>
              </ul>
              <ul *ngIf="accountForm.invalid && accountForm.errors?.passwordMismatch && isSubmitted">
                <li >Password mismatch !</li>
              </ul>
              <ul *ngIf="errors?.token">
                <li >{{errors.token}}</li>
              </ul>
            </div>
          </fieldset>
          <div class="form-actions">
            <button mat-raised-button color="primary"
                    (click)="onSubmit()">
              <mat-icon>
                play_circle_filled
              </mat-icon>
              Reset
            </button>
            <div class="row">
              <a class="col-6" routerLink="/account/login">Login</a>
              <a class="col-6" routerLink="/account/registration">Registration</a>
            </div>
          </div>
        </form>
      </div>
      <footer>
        <div class="facebook-login"
             (click)="facebookAuth()">
          <img src="/assets/images/social/facebook.svg"/>
          <a href="javascript:;">
            <span>Login with Facebook</span>
          </a>
        </div>
      </footer>
    </section>
  </div>
</div>
