div.row {
  &.border {
    border-bottom: solid 1px #bebebe;
    margin: 15px;
    padding-bottom: 10px;
  }

  div.col-1-5 {
    div {
      padding-right: 20px;
      border-right: solid 1px #bebebe;
      min-height: 85px;

      img {
        width: 100%;
      }
    }
  }

  div.col-85 {
    div.name {
      padding-left: 15px;
      padding-right: 15px;
      border-right: solid 1px #bebebe;
      min-height: 85px;

      div.project {
        color: #7c7c7e;
        padding-top: 5px;
        font-size: 12px;
      }

      div.title {
        font-weight: 600;
        padding-top: 5px;
        color: #4a5359;
        font-size: 15px;
      }

      div.address {
        padding-top: 10px;
        font-size: 10px;
        color: #608ecc;
        font-weight: 600;
      }
    }

    div.amount {
      padding-left: 15px;
      padding-right: 15px;
      border-right: solid 1px #bebebe;
      min-height: 85px;

      div.text {
        color: #7c7c7e;
        padding-top: 5px;
        font-size: 12px;
      }

      div.title {
        font-weight: 600;
        padding-top: 5px;
        color: #4a5359;
        font-size: 15px;
      }
    }

    div.date {
      padding-left: 15px;
      padding-right: 15px;
      min-height: 85px;

      div.text {
        color: #7c7c7e;
        padding-top: 5px;
        font-size: 12px;
      }

      div.title {
        font-weight: 600;
        padding-top: 5px;
        color: #4a5359;
        font-size: 15px;
      }
    }
  }
}
