<div class="row border">
  <div class="col-1-5">
    <div>
      <img [src]="api_url + '/min_uploads/images/' + boost.project.image"/>
    </div>
  </div>
  <div class="col-85">
    <div class="col-12 row">
      <div class="col-5">
        <div class="row name">
          <div class="project">Project</div>
          <div class="title">{{boost.project.title}}</div>
          <div class="address"
               (click)="copy()"
               #address>
               {{boost.project.address}}
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-6">
            <div class="amount">
              <div class="text">
                Amount
              </div>
                <div class="title">
                  {{boost.value}} Ino coins
                </div>
            </div>
          </div>
          <div class="col-6">
            <div class="date">
              <div class="text">
                Date
              </div>
              <div class="title">
                {{boost.createdAt | date:'short'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
