<mat-icon class="close" (click)="MatDialogRef.close()">
    close
</mat-icon>
<div class="row">
    <div class="col-12 header">
        <h3>Buy Ino coins</h3>
    </div>
    <div class="col-2-offset col-8">
        <mat-form-field color="accent">
            <mat-select placeholder="Select currency" [(ngModel)]="currency" (selectionChange)="onSelect()">
                <mat-option [value]="paymentMethods.ether.key">
                    {{paymentMethods.ether.name}}
                </mat-option>
                <mat-option [value]="paymentMethods.bitcoin.key">
                    {{paymentMethods.bitcoin.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div [ngSwitch]="currency">
        <form [formGroup]="formETH" *ngSwitchCase="paymentMethods.ether.key">
            <div class="col-2-offset col-8">
                <mat-form-field color="accent">
                    <input matInput placeholder="Amount of ino coins..." (keyup)="onChange()" formControlName="amount" type="number" autocomplete="off"/>
                </mat-form-field>
                <mat-form-field color="accent">
                    <input matInput placeholder="Selected wallet password..." formControlName="password" type="password" />
                </mat-form-field>
            </div>
            <div class="col-2-offset col-8 footer">
                <div class="price" [hidden]="isHidden()">
                    Coins price: {{total | number:'1.0-6'}}
                    <span class="usd">{{paymentMethods[currency].symbol}}</span>
                </div>
                <button mat-raised-button (click)="onSubmit()" class="col-12">
                    Buy
                </button>
            </div>
        </form>
        <form [formGroup]="formBTC" *ngSwitchCase="paymentMethods.bitcoin.key">
            <div class="col-2-offset col-8">
                <mat-form-field color="accent">
                    <input matInput placeholder="Amount of ino coins..." (keyup)="onChange()" formControlName="amount" type="number" autocomplete="off"/>
                </mat-form-field>
                <mat-form-field color="accent">
                    <input matInput placeholder="Select contact email..." formControlName="email" type="email" />
                </mat-form-field>
            </div>
            <div class="col-2-offset col-8 footer">
                <div class="price" [hidden]="isHidden()">
                    Coins price: {{total | number:'1.0-6'}}
                    <span class="usd">{{paymentMethods[currency].symbol}}</span>
                </div>
                <button mat-raised-button (click)="onSubmit()" class="col-12">
                    Buy
                </button>
            </div>
        </form>
    </div>
</div>
<div class="error col-2-offset col-8">
    {{error}}
</div>
<div class="green col-2-offset col-8">
    {{message}}
</div>