<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>New account</mat-card-title>
    <mat-card-subtitle #address
                       (click)="copy()">
      {{account.account.address}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="row">
    <div class="col-1-offset col-12">
      <div class="col-3">
        Firstname:
      </div>
      <div class="col-3">
        {{account.user.firstname}}
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Lastname:
      </div>
      <div class="col-3">
        {{account.user.lastname}}
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Email:
      </div>
      <div class="col-3">
        {{account.user.email}}
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Place:
      </div>
      <div class="col-3">
        {{account.place.name}}
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Place Address:
      </div>
      <div class="col-6">
        {{account.place.address}}
      </div>
    </div>
    <div class="col-12 text-right">
      <mat-checkbox
          [(ngModel)]="account.status"
          (change)="onChange()"
          align="end">
        Proceeded
      </mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-right">

  </mat-card-actions>
</mat-card>