<mat-icon class="close"
         (click)="MatDialogRef.close()">
         close
</mat-icon>
<form [formGroup]="accountForm">
  <div class="row">
    <div class="col-12 header">
      <h3>Import account</h3>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
        <input matInput
               placeholder="Account name..."
               autocomplete="off"
               formControlName="name">
      </mat-form-field>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
         <textarea matInput
                   placeholder="Keystore json file..."
                   formControlName="keyStore"
                   rows="8">
         </textarea>
       </mat-form-field>
    </div>
    <div class="col-12">
      <div *ngFor="let key of getKeys()">
        <div *ngFor="let err of errors[key]"
             class="error">
          {{err}}
        </div>
      </div>
    </div>
    <div class="col-12 footer text-right">
      <button mat-raised-button
              (click)="onUpload()"
              type="button">
        Upload keystore
      </button>
      <button mat-raised-button
              (click)="onSubmit()">
        Create
      </button>
    </div>
  </div>
</form>
