<mat-icon class="close"
         (click)="MatDialogRef.close()">
         close
</mat-icon>
<form [formGroup]="placeForm">
  <div class="row">
    <div class="col-8 col-2-offset">
      <mat-form-field color="accent">
        <input matInput placeholder="Place name..."
               formControlName="name"
               autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-8 col-2-offset">
        <mat-form-field color="accent">
          <input matInput placeholder="Place address..."
                 formControlName="address"
                 autocomplete="off">
        </mat-form-field>
      </div>
    <div class="col-8 col-2-offset">
      <div *ngFor="let key of getKeys()">
        <div *ngFor="let err of errors[key]"
             class="error">
          {{err}}
        </div>
      </div>
      <div class="text-right">
        <button mat-raised-button
                (click)="onPostPlace()">
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
