.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

div.row {
  div.text-right {
    margin-top: 10px;

    button {
      border-radius: 0;
    }
  }
}

div.add-photo {
  height: 90px;
  display: table;
  border: 1px black;
  border-style: dashed;
  color: black;
  cursor: pointer;
  margin: 1px -1px 5px;

  &.error {
    border-color: red;
    color: red;
  }

  div.text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .image {
    width: 100%;
  }
}

div.albums {
  div.uploaded-image {
    margin-top: 5px;

    div {
      width: 95%;
      height: 100px;
      overflow: hidden;
      position: relative;
      border: solid 1px #3a5d7736;

      &:hover div {
        background: rgba(0, 0, 0, 0.3);
        display: block;
      }

      div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: none;

        mat-icon {
          float: right;
          color: white;
          cursor: pointer;
        }
      }

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}

div.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
