<form [formGroup]="accountForm">
  <div class="header">
    <h3>Import account</h3>
  </div>
  <mat-form-field color="primary">
    <input matInput placeholder="Account name..." autocomplete="off" formControlName="name">
  </mat-form-field>
  <mat-form-field color="primary">
    <textarea matInput placeholder="Keystore json file..." formControlName="keyStore" rows="8">
         </textarea>
  </mat-form-field>
  <div *ngFor="let key of getKeys()">
    <div *ngFor="let err of errors[key]" class="error">
      {{err}}
    </div>
  </div>
  <div class="actions flex">
    <button mat-flat-button color="primary" (click)="onUpload()" type="button">
      Upload keystore
    </button>
    <button mat-flat-button color="primary" (click)="onSubmit()">
      Create
    </button>
  </div>
</form>