<mat-card [ngSwitch]="payment.type">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Ino coin request</mat-card-title>
    <mat-card-subtitle *ngSwitchCase="paymentMethods.ether.key">
      <a [href]="scanTx + payment.token" target="_blank">View transaction</a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="row">
    <div class="col-1-offset col-12">
      <div class="col-3">
        Firstname:
      </div>
      <div class="col-3">
        {{payment.user.firstname}}
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Lastname:
      </div>
      <div class="col-3">
        {{payment.user.lastname}}
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Email:
      </div>
      <div class="col-3">
        {{payment.user.email}}
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Address:
      </div>
      <div class="col-3 address"
          #address
          (click)="copy()">
        {{payment.address}}
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Coins:
      </div>
      <div class="col-3">
        {{payment.amount}}
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Price:
      </div>
      <div class="col-3"
          *ngSwitchCase="paymentMethods.ether.key">
        {{payment.price | number:'1.0-6'}} <span class="currency">{{paymentMethods.ether.symbol}}</span>
      </div>
    </div>
    <!-- <div class="col-1-offset col-12">
      <div class="col-3">
        Fee:
      </div>
      <div class="col-3">
        {{number(payment.serviceCosts/100).toFixed(2)}} <span class="currency">USD</span>
      </div>
    </div>
    <div class="col-1-offset col-12">
      <div class="col-3">
        Total:
      </div>
      <div class="col-3">
        {{(number(payment.price/100)+number(payment.serviceCosts/100)).toFixed(2)}} <span class="currency">USD</span>
      </div>
    </div> -->
    <div class="col-12 text-right">
      <mat-checkbox
          [(ngModel)]="payment.status"
          (change)="onChange()"
          align="end">
        Proceeded
      </mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-right">

  </mat-card-actions>
</mat-card>
