mat-card {
  margin-bottom: 20px;
  max-width: 500px;

  div.col-12 {
    margin-bottom: 2px;
  }

  span.currency {
    font-size: 12px;
  }

  div.address {
    font-size: 11px;
  }

  .example-header-image {
    background-image: url("/assets/logo_black.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
