@import '../../stylesheets/variables';

div.router-outlet {
  min-height: 680px;
}

div.router-container {
  position: relative;
  top: 12vh;
  min-height: 900px;
  margin-bottom: 200px;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 100%;
}

mat-dialog-container.mat-dialog-container {
  position: relative;
  max-height: 85vh;
  overflow-y: auto;
}

button[mat-mini-fab].mat-mini-fab.mini .mat-button-wrapper {
  padding: 5px 0 !important;
}

.cdk-overlay-container {
  z-index: 1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.center {
  text-align: center;
}

.inline-block{
  display: inline-block;
}

.cdk-overlay-pane.project {
  mat-dialog-container {
    padding: 0 !important;
  }
}

a.link {
  text-decoration: none;
}

div.no-internet {
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.64);
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;

  h1 {
    color: white;
    margin-top: 20%;
  }
}

mat-toolbar.mat-toolbar.mat-primary {
  background: $black_transparent;
  position: fixed;
  z-index: 1;

  span.logo {
    margin-left: 100px;

    a {
      color: white;
      text-decoration: none;
    }

    font {
      font-weight: 500;
      font-size: 22px;
      font-family: unset;
    }
  }

  span.spacer {
    flex: 1 1 auto;
  }

  span.divider {
    height: 38px;
    width: 1px;
    margin: 0 20px;
    background: linear-gradient(rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5), rgba(102, 102, 102, 0));
  }

  span.menu {
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;

    a {
      color: $white;
      text-decoration: none;

      &.active {
        text-decoration: underline;
      }
    }
  }

  span.language {
    color: $white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: sans-serif;

    &.active {
      font-weight: bold;
    }
  }

  span.lang-divider {
    color: $icon_blue;
    font-weight: 100;
    font-family: serif;
  }
}

footer {
  border-top: 1px solid $black_transparent;
  position: relative;
  z-index: 1;

  h3 {
    color: $white;
  }

  ul {
    list-style: none;
    padding: 0 0 0 5px;

    li {
      margin-top: 5px;
      color: $white;
      font-size: 14px;
      font-weight: 600;
    }
  }

  div.footer {
    border-top: 1px solid $black_transparent;

    h4 {
      color: $white;
    }

    div.text-right {
      padding-top: 17px;
      padding-bottom: 17px;

      span {
        color: $white;
        font-size: 13px;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;

  small {
    color: $title_light_blue;
  }
}

h2.title {
  color: #ffffff;
  line-height: 1;
  margin: 11px 0 18px;
  font-family: inherit;
  font-size: 22px;

  small {
    font-size: 14px;
  }
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 13px;
}

address {
  font-size: 14px;
}

section {
  border-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 12px 17px;
  color: #f8f8f8;
  background: rgba(51, 51, 51, 0.4);
  margin-bottom: 30px;
  position: relative;
  margin-right: 25px;
}

input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $white;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $white;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $white;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $white;
  }
}

input.search {
  color: white;
  border: none;
  padding-left: 26px;
  width: 200px;
  border-radius: 1px;
  line-height: 22px;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
  margin-right: 20px;

  &:focus {
    width: 240px;
    outline: none;
  }
}

input.form-control {
  border: none;
  color: #f8f8f8;
  background-color: $transparent_blue;
  display: block;
  width: 95%;
  padding: 5px;
  font-size: 13px;
  line-height: 1.428571429;
  background-image: none;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  &:focus {
    outline: none;
  }
}

.form {
  margin: 15px 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.hidden {
  display: none;
}
