@import '../../stylesheets/variables';


a.ripple {
    padding: 2px;
    margin: 2px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    img {
        vertical-align: middle;
        width: 28px;
    }
}

mat-toolbar {
    background: transparent !important;
    position: fixed;
    top: 0;
    z-index: 999;

    mat-toolbar-row.mobile {
        display: none;
        background-color: white;
        -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.55);

        button {
            &.mat-icon-button {
                line-height: 44px !important;
            }
        }

    }

    mat-toolbar-row.desktop {
        background-color: white;
        transition: ease-in-out 250ms;
        height: 84px !important;

        &.scroll {
            -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.55);
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.55);
            height: 56px !important;
        }

        div.container {
            justify-content: space-between;
            align-items: center;
            height: 100%;

            a.logo {
                height: 60%;
                outline: none;
                flex: 1;
            }

            div.navigation {
                height: 100%;
                align-items: center;
                flex: 2;

                a {
                    position: relative;
                    color: $toolbar_text;
                    font-size: 18px;
                    padding: 10px;
                    text-decoration: none;
                    cursor: pointer;
                    outline: none;

                    span {
                        margin-left: 10px;
                    }
                }
            }

            div.profile {
                color: black;
                align-items: center;

                a {
                    cursor: pointer;
                }

                div.menu {
                    position: relative;

                    div.cateogries {
                        z-index: 99;
                        text-align: right;
                        background: white;
                        display: none;
                        position: absolute;
                        width: 186px;
                        padding: 10px;
                        border-radius: 20px;
                        right: 10px;
                        top: 60px;
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(44, 150, 222, 1);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(44, 150, 222, 1);
                        box-shadow: 0px 0px 5px 0px rgba(44, 150, 222, 1);

                        &.active {
                            display: block;
                        }

                        a {
                            display: block;
                            cursor: pointer;
                            font-size: 16px;
                            color: black;

                            &:hover {
                                color: $blue !important;
                            }

                            &:active, &:visited{
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

div.footer {
    color: white;

    div.navigation {
        justify-content: space-between;
        padding: 5px 0;
        align-items: center;

        div.links {
            flex: 1;

            a,
            span {
                color: $footer_text;
                font-weight: 700;
            }

            span {
                margin: 0 2px;
            }
        }

        a.rights {
            flex: 1;
            color: $footer_text;
            font-weight: 700;
        }

        div.social {
            flex: 1;
            justify-content: flex-end;

            a.ripple {
                width: 35px !important;
                height: 35px !important;
                font-weight: 700;
            }
        }
    }
}

mat-drawer-container {
    background-color: white;

    mat-drawer {
        width: 65%;
        background-color: rgba(255, 255, 255, 0.90);
        position: fixed;
    }
}