.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.header {
  margin-bottom: 30px;

  h3 {
    margin: 0;
  }
}

.footer {
  margin-top: 20px;
}

div.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

div.alert {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}
