<mat-icon class="close"
         (click)="MatDialogRef.close()">
         close
</mat-icon>
<!-- <form [formGroup]="cardForm">
  <div class="row">
    <div class="col-12 header">
      <h3>Buy Ino coins</h3>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
        <input matInput
               placeholder="Amount of ino coins..."
               (keyup)="onChange()"
               formControlName="amount"/>
      </mat-form-field>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
         <input matInput
                placeholder="Credit/Debit card number"
                formControlName="number">
       </mat-form-field>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
         <input matInput
                placeholder="Exp. month"
                formControlName="exp_month"/>
       </mat-form-field>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
         <input matInput
                placeholder="Exp. year"
                formControlName="exp_year"/>
       </mat-form-field>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
         <input matInput
                placeholder="CVC"
                formControlName="cvc"/>
       </mat-form-field>
    </div>
    <div class="error col-2-offset col-8"
         *ngIf="serverError">
      Something went wrong, please try again later...
    </div>
    <div class="col-12 footer">
      <div class="col-6">
        <div [hidden]="isHidden()">
          <div class="price">Coins price: {{(coinPrice/100).toFixed(2)}} <span class="usd">USD</span></div>
          <div class="price">Service price: {{(costs/100).toFixed(2)}} <span class="usd">USD</span></div>
          <div class="price">Total price: {{(total/100).toFixed(2)}} <span class="usd">USD</span></div>
        </div>
      </div>
      <div class="col-6 text-right"
           [class.col-6-offset]="isHidden()">
        <button mat-raised-button
                (click)="onSubmit()">
          Buy
        </button>
      </div>
    </div>
  </div>
</form> -->
<div class="row">
  <div class="col-12 header">
    <h3>Buy Ino coins</h3>
  </div>
  <div class="col-12">
    <h3 class="title">Under construction...</h3>
  </div>
</div>
