<div class="router-container row">
  <div class="col-1-offset col-10">
    <mini-project-detailed-component class="col-4"
                           *ngFor="let project of projects;let i = index"
                           [project]="project"
                           [index]="i">
    </mini-project-detailed-component>
  </div>
  <div class="col-12 text-right">
    <button mat-button
            (click)="onLoadProject()"
            *ngIf="!loaded">
      Show more
    </button>
  </div>
</div>
