<mat-icon class="close"
         (click)="MatDialogRef.close()">
         close
</mat-icon>
<div class="row">
  <div class="col-12 header">
    <h3>Send to</h3>
  </div>
  <form [formGroup]="sendForm">
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
        <input matInput
               placeholder="Amount"
               autocomplete="off"
               formControlName="amount"/>
      </mat-form-field>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
         <input matInput
                placeholder="Ino account address ex. 0x00000...."
                autocomplete="off"
                formControlName="address"/>
       </mat-form-field>
    </div>
    <div class="col-2-offset col-8">
      <mat-form-field color="accent">
         <input matInput
                placeholder="Password..."
                formControlName="password"
                type="password"/>
       </mat-form-field>
    </div>
    <div class="error col-2-offset col-8">
      {{error}}
    </div>
    <div class="col-12">
      <div *ngFor="let key of getKeys()">
        <div *ngFor="let err of errors[key]"
             class="error">
          {{err}}
        </div>
      </div>
    </div>
    <div class="col-12 footer text-right">
      <button mat-raised-button
              (click)="onSubmit()">
        Send
      </button>
    </div>
  </form>
</div>
