<div class="col-12 relative place-component">
    <canvas #qrcode (click)="onOpenDialog()">
    </canvas>
    <div class="inline-block absolute">
        <h2>
            {{place.name}}
            <button class="icons"
                    mat-icon-button
                    (click)="onEdit()">
                <mat-icon aria-label="Example icon-button with a heart icon">
                    edit
                </mat-icon>
            </button>
            <button class="icons"
                    mat-icon-button
                    (click)="onDelete()">
                <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
            </button>
        </h2>
        <h3>
            {{place.address}}
        </h3>
    </div>
</div>