<div class="item">
    <mat-checkbox *ngIf="user?.role == roles.admin" (change)="updateProject($event)" color="primary"
        [(ngModel)]="project.finalized" labelPosition="before">Finalized</mat-checkbox>
    <div class="category" [style.backgroundColor]="categories[project.category].color">
        {{categories[project.category].name}}
    </div>
    <div class="relative">
        <a aria-label="open" [routerLink]="'/project/'+project._id">
            <lazy-image-component class="flex image" objectFit="cover"
                [src]="api_url + '/min_uploads/images/' + project.image" width="100%" height="100%">
            </lazy-image-component>
        </a>
        <div class="actions">
            <button mat-icon-button aria-label="close" class="action" *ngIf="edit"
                [routerLink]="'/edit-project/'+project._id">
                <lazy-image-component class="flex" src="/assets/images/edit.png" height="32px" width="32px"
                    objectFit="contain">
                </lazy-image-component>
            </button>
            <button mat-icon-button aria-label="close" class="action" *ngIf="delete" (click)="onDelete()">
                <lazy-image-component class="flex" src="/assets/images/delete.png" height="32px" width="32px"
                    objectFit="contain">
                </lazy-image-component>
            </button>
        </div>
    </div>

    <div class="information flex">
        <h3>
            {{project.title}}
        </h3>
        <p class="description">
            {{project?.subtitle}}
        </p>
        <div class="flex">
            <p>
                {{ project.funds | number:'1.0-6' }} INO
            </p>
            <p>
                {{ project.followersSize | number:'1.0-6' }} Likes
            </p>
        </div>
    </div>
</div>