<div class="row border">
  <div class="col-4">
    <div class="row from">
      <div class="text">From</div>
      <div #faddress
           class="address"
           (click)="copy(faddress)">
           {{transaction.from}}
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="row to">
      <div class="text">To</div>
      <div #iaddress
           class="address"
           (click)="copy(iaddress)">
        {{transaction.to}}
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="row amount">
      <div class="text">Amount</div>
      <div class="address">{{transaction.value}} Ino coins</div>
    </div>
  </div>

  <div class="col-2">
    <div class="row date">
      <div class="text">Date</div>
      <div class="address">{{transaction.createdAt | date:'short'}}</div>
    </div>
  </div>
</div>
