div.row {
  &.border {
    border-bottom: solid 1px #bebebe;
    margin: 15px;
    padding-bottom: 10px;
  }

  div.col-4 {
    div.from,
    div.to {
      padding-left: 15px;
      padding-right: 15px;
      border-right: solid 1px #bebebe;
      min-height: 55px;

      div.text {
        font-weight: 600;
        padding-top: 5px;
        color: #4a5359;
        font-size: 15px;
      }

      div.address {
        padding-top: 10px;
        font-size: 10px;
        color: #608ecc;
        font-weight: 600;
      }
    }
  }

  div.col-2 {
    div.amount {
      border-right: solid 1px #bebebe;
    }

    div.amount,
    div.date {
      padding-left: 15px;
      padding-right: 15px;
      min-height: 55px;

      div.text {
        font-weight: 600;
        padding-top: 5px;
        color: #4a5359;
        font-size: 15px;
      }

      div.address {
        padding-top: 5px;
        color: #4a5359;
        font-size: 15px;
      }
    }
  }
}
