<div class="row project router-container">
    <div class="col-3-offset col-6 white">
        <div class="col-12 photo">
            <img [src]="api_url + '/min_uploads/images/' + image"/>
            <div class="arrow left">
              <button (click)="prev()">
                <mat-icon>
                  keyboard_arrow_left
                </mat-icon>
              </button>
            </div>
            <div class="arrow right">
              <button (click)="next()">
                <mat-icon>
                  keyboard_arrow_right
                </mat-icon>
              </button>
            </div>
        
          </div>
          <div class="col-12 header">
            <div class="col-9">
              <h3>{{project?.title}}</h3>
              <div class="address">{{project?.address}}</div>
            </div>
            <div class="col-3 date text-right">
              {{project?.createdAt | date:'short'}}
            </div>
          </div>
          <div class="col-12 rewards"
               *ngIf="project?.rewards?.length > 0">
            <h4>BENEFITS FOR INVESTORS ( Rewards )</h4>
            <div *ngFor="let r of project.rewards">
              > {{r.from}} - {{r.to}} INO
              <br>
              {{r.reward}}
            </div>
          </div>
          <div class="col-12">
             <div class="content"
                  [innerHTML]="transform(project?.content)">
             </div>
          </div>
          <div class="col-12 text-right">
              <button mat-icon-button [color]="project?.isFollowed ? 'accent' : 'none'"
                      (click)="onVote()">
                 <mat-icon aria-label="thumb_up">
                   thumb_up
                 </mat-icon>
              </button>
              <span class="follower"
                   *ngIf="project?.followersSize">
                ( {{project?.followersSize}} )
              </span>
            <button mat-button
                      class="action"
                      (click)="onSendCoins()">
                Boost
              </button>
          </div>
    </div>
  </div>