<mat-icon class="close"
         (click)="MatDialogRef.close()">
         close
</mat-icon>
<div class="row">
  <div class="col-12 header">
    <h3>Alert</h3>
  </div>
  <div class="content">
    Are you sure, you will delete this permanently ?
  </div>
  <div class="col-12 footer text-right">
    <button mat-raised-button
            (click)="onSubmit(false)"
            class="left">
      Cancle
    </button>
    <button mat-raised-button
            (click)="onSubmit(true)">
      Ok
    </button>
  </div>
</div>
