.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.header {
  margin-bottom: 30px;

  h3 {
    margin: 0;
  }
}

.download{
  margin-top: 10px;
}

.keystore {
  width: 400px;
  overflow-wrap: break-word;
}

button{
  margin-left: 5px;
}