@import '../../../../stylesheets/variables';

.header {
  h3 {
    color: $blue;
  }
}

.download {
  margin-top: 10px;
}

.keystore {
  width: 400px;
  overflow-wrap: break-word;
}

div.actions {
  justify-content: flex-end;

  button {
    border-radius: 25px;
    padding: 5px 0;
    font-weight: 600;
    font-size: 16px;
    flex: 1;
    margin: 15px 0 0 0;
    font-size: 18px;

    &:first-child {
        margin-right: 20px;
    }
}
}