<div class="relative">
  <mat-card>
    <mat-card-content>
      <div class="image">
        <img [src]="api_url + '/min_uploads/images/' + project.image"
             (click)="onViewProject()"/>
      </div>
      <div class="col-12">
        <div class="col-9">
          <span class="name">{{project.title}}</span>
        </div>
        <div class="date col-3">
          {{project.createdAt | date:'short'}}
        </div>
      </div>
      <div class="col-12 address"
          (click)="copy()"
          #address>
          {{project.address}}
      </div>
      <!-- {{project.title}}
      <div class="address">{{project.address}}</div>
      <div class="text-right date">{{project.createdAt | date:'short'}}</div> -->
    </mat-card-content>
    <mat-card-actions class="row">
      <div class="col-3">
        <button mat-icon-button [color]="project?.isFollowed ? 'accent' : 'none'"
                (click)="onVote()">
           <mat-icon aria-label="thumb_up">
             thumb_up
           </mat-icon>
        </button>
        <span class="follower"
             *ngIf="project.followersSize">
          ( {{project.followersSize}} )
        </span>
      </div>
      <div class="col-9">
        <button mat-button
                class="col-5 action"
                (click)="onSendCoins()">
          Boost
        </button>
        <button mat-button
                class="col-5 action"
                (click)="onViewProject()">
          View
        </button>
        <a [routerLink]="'/project/'+project._id">
          <mat-icon>
            link
          </mat-icon>
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
